<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>Piano</title>
    <style>
		canvas {
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 800px;}
	</style>
	<script src="{% static 'jquery.js' %}"></script>
	<!--<script src="{% static 'script.js' %}"></script>-->
	<script src="{% static 'audio.js' %}"></script>
	
  </head>
  <body>
	<div id="container">
		<canvas id="myCanvas" width="2000px" height="400px" margin="auto"></canvas>
		<script src="{% static 'kinetic-v5.0.1.min.js' %}"></script>
		<script defer="defer">
		  var canvas = document.getElementById('myCanvas');
		  var context = canvas.getContext('2d');
		  var stage = new Kinetic.Stage({
			container: 'container',
			width: 1580,
			height: 501
		  });
			var layer = new Kinetic.Layer();
			var keys_array = new Array(22);
			for(var i=0; i< 11; i++) {
				keys_array[i] = new Kinetic.Rect({
					x: 400+70*i,
					y: 50,
					offset: [50, 25],
					width: 70,
					height: 300,
					fill: 'white',
					stroke: 'black',
					strokeWidth: 3,
					draggable: false
				});
				layer.add(keys_array[i]);
			}
			
			//stage.add(layer);
			
			for(var i=12; i< 21; i++) {
				keys_array[i] = new Kinetic.Rect({
					x: 373+70*(i-11),
					y: 50,
					offset: [50, 25],

					width: 54,
					height: 200,
					fill: 'black',
					draggable: false,
					index: 1
				});
				if(i!=14 && i!=18) {
					layer.add(keys_array[i]);
				}
			}
			stage.add(layer);
		</script>
		</div>

	<input type="range" name="volume" id="volume" min="0" max="8" value="5" />
	<button id="Start">Start</button>
	<button id="Stop">Stop</button>
        <button id="add">Add</button>
        <button id="minus">Minus</button>
  </body>
</html>
